.categories {
  display: flex;
  gap: 20px;
  margin-bottom: 120px;

  @media (max-width: 900px) {
    flex-wrap: wrap;
    gap: 20px 0;
    margin-bottom: 80px;
  }
  @media (max-width: 500px) {
    margin-bottom: 65px;
    .ag-h1 {
      font-weight: 500;
      font-size: 24px;
      line-height: 133%;
    }
  }

  &Left {
    width: 76.2%;
    display: flex;
    gap: 20px 0;

    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;

    @media (max-width: 900px) {
      width: initial;
    }
    @media (max-width: 500px) {
      margin-left: -8px;
      margin-right: -8px;
    }
  }
  &Right {
    width: 23.8%;

    @media (max-width: 900px) {
      width: 100%;
    }
  }
  &Col {
    width: 33.3%;
    padding-left: 10px;
    padding-right: 10px;

    @media (max-width: 768px) {
      width: 50%;
    }
    @media (max-width: 500px) {
      padding-left: 8px;
      padding-right: 8px;
    }
  }
  &Colfull {
    height: 100%;
    width: 100%;
    @media (max-width: 900px) {
      aspect-ratio: 358/221;
    }
  }

  &Card {
    position: relative;
    aspect-ratio: 319/170;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding-block: 35px;
    padding-inline: 10px;

    border-radius: 12px;
    overflow: hidden;
    // transition: all 0.3s ease-in-out;

    &:hover {
      box-shadow: 0 10px 35px rgba(0, 0, 0, 0.2);
    }

    @media (max-width: 1100px) {
      padding-block: 25px;
    }
    @media (max-width: 900px) {
      padding-inline: 20px;
    }

    @media (max-width: 500px) {
      padding-inline: 5px;
      aspect-ratio: 1/1;
    }
  }
  &Cardfull {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding-block: 35px;
    padding-inline: 10px;

    border-radius: 12px;
    overflow: hidden;
    // transition: all 0.3s ease-in-out;

    &:hover {
      box-shadow: 0 10px 35px rgba(0, 0, 0, 0.2);     
    }

    @media (max-width: 1100px) {
      padding-block: 20px;
    }
    @media (max-width: 900px) {
      padding-block: 60px;
    }
    @media (max-width: 500px) {
      padding-block: 40px;
      padding-inline: 40px;
    }
  }
}
