@import "tailwindcss";


@font-face {
    font-family: TTNeoris;
    src: url("/fonts/TTNeoris-Medium.woff2") format("woff2");
    ;
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@theme {
    /* fonts */
    --font-inter: "Inter", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-roboto: "Roboto", sans-serif;

    --font-geist: "Geist", sans-serif;
    --font-neoris: "TTNeoris", sans-serif;

    /* Colors */
    --color-black: #000;
    --color-fon: #f6f6f6;
    --color-brand-primary: #43d5fa;
    --color-brand-secondary: #181819;
    --color-brand-border-light: rgba(146, 161, 218, 0.4);
    --color-brand-primary-light: #f334fe;
    --color-brand-primary-default: #43d5fa;
    --color-brand-primary-hover: #00b0dc;
    --color-brand-primary-light-hover: #ca0cd5;

    --color-secondary: #181819;

    --color-system-green: #05b54c;
    --color-system-red: #ff4548;
    --color-system-orange: #f29c16;
    --color-system-blue: #234eac;

    --color-grayscale-white: #fff;
    --color-grayscale-975: #131313;
    --color-grayscale-825: #202020;
    --color-grayscale-700: #4c4c4c;
    --color-grayscale-300: #b2b2b2;
    --color-grayscale-100: #e5e5e5;
    --color-grayscale-25: #f9f9f9;
    --color-grayscale-500: #acacac;

}


@utility ag-w1 {
    @apply text-[48px] leading-[1.17] font-semibold font-sans;
}

@utility ag-w3 {
    @apply text-[36px] leading-[1.17] font-semibold font-sans;
}

@utility ag-c1 {
    @apply text-[12px] leading-[1.333] font-sans;
}

@utility ag-h1 {
    @apply text-[28px] leading-[1.286] font-sans;
}

@utility ag-w2 {
    @apply text-[32px] leading-[1.25] font-sans;
}

@utility ag-w4 {
    @apply text-[32px] leading-[1.25] font-sans;
}

@utility ag-h2 {
    @apply text-[24px] leading-[1.333] font-sans;
}

@utility ag-h3 {
    @apply text-[20px] leading-[1.4] font-sans;
}

@utility ag-h4 {
    @apply text-[18px] leading-[1.333] font-sans;
}

@utility ag-h5 {
    @apply text-[17px] leading-[1.333] font-sans;
}

@utility ag-h6 {
    @apply text-[16px] leading-[1.5] font-sans;
}

@utility ag-h7 {
    @apply text-[15px] leading-[1.6] font-sans;
}

@utility ag-h8 {
    @apply text-[14px] leading-[1.429] font-sans;
}

@utility ag-h9 {
    @apply text-[13px] leading-[1.538] font-sans;
}


@utility ag-h10 {
    @apply text-[12px] leading-[1.33] font-sans;
}

@utility ag-h12 {
    @apply text-[10px] leading-[1.2] font-sans;
}